<launch>
  <arg
    name="model" />
  <param 
  name="use_sim_time" 
  value="true"/>
  
  <arg name="hardware_interface" default="hardware_interface/PositionJointInterface"/>
  <arg name="robot_name" default="edo"/>
  <arg name="origin_xyz" default="'0 0 1'"/> <!-- Note the syntax to pass a vector -->
  <arg name="origin_rpy" default="'0 3.14 0'"/>

<!--
  <param 
  name="robot_description" 
  textfile="$(find edo_description)/urdf/edo.urdf" />
 -->
 <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find edo_description)/urdf/edo.urdf.xacro' hardware_interface:=$(arg hardware_interface) robot_name:=$(arg robot_name) origin_xyz:=$(arg origin_xyz) origin_rpy:=$(arg origin_rpy)" />
   
    
  <!-- Run the robot state publisher node -->
  <group ns="$(arg robot_name)">
    <!-- Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" type="string" value="" />
    </node>
  </group>

  <remap from="/joint_states" to="/edo/joint_states"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
  </node>
  <!-- Run rviz -->
  
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find edo_description)/edo.rviz" />

  <!-- Run the dynamic simulator -->
  <rosparam param="q1_initial">0</rosparam>
  <rosparam param="q2_initial">0</rosparam>
  <rosparam param="q3_initial">0</rosparam>
  <rosparam param="q4_initial">0</rosparam>
  <rosparam param="q5_initial">0</rosparam>
  <rosparam param="q6_initial">0</rosparam>

  <rosparam param="qv1_initial">0</rosparam>
  <rosparam param="qv2_initial">0</rosparam>
  <rosparam param="qv3_initial">0</rosparam>
  <rosparam param="qv4_initial">0</rosparam>
  <rosparam param="qv5_initial">0</rosparam>
  <rosparam param="qv6_initial">0</rosparam>
  
  <node pkg="dynsim_2link_planar" type="dynsim_2link_planar_node" name="dynsim_2link_planar"/>

 
  
</launch>
