<launch>
  <arg
    name="model" />
  <param 
  name="use_sim_time" 
  value="true"/>

  <param 
  name="robot_description" 
  textfile="$(find edo_robot_simulation)/robots/edo_sim_original.urdf" />
    
  <!-- Run the robot state publisher node -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <!-- Run rviz -->
  
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find edo_robot_simulation)/urdf.rviz" />

  <!-- Run the kinematic simulator 
  <node pkg="kinsim_2link_planar" type="kinsim_2link_planar_node" name="kinsim_2link_planar">
    <rosparam param="q1_initial">0</rosparam>
    <rosparam param="q2_initial">0</rosparam>
    <rosparam param="q3_initial">0</rosparam>
    <rosparam param="q4_initial">0</rosparam>
    <rosparam param="q5_initial">0</rosparam>
    <rosparam param="q6_initial">0</rosparam>
  </node>
  -->
</launch>
